.sidebarMenuSection {
  position: absolute;
  top: 48px;
  left: 100px;
  height: 500px;
  width: 318px;
  border-radius: 2px;
  background-color: #fff;
}

.sidebarMenuTitle {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 127px;
  height: 18px;
  margin-top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.positionMenuBox {
  position: absolute;
  top: 72px;
  left: 48px;
  width: 181px;
  height: 246px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  /* gap: 20px; */
}

.positionMenuBox p {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 132%;
  cursor: pointer;
}