.sidebarMenuSection {
  position: fixed;
  top: 48px;
  left: 100px;
  height: 500px;
  width: 318px;
  border-radius: 2px;
  background-color: #fff;
}

.sidebarMenuTitle {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 127px;
  height: 18px;
  margin-top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.positionMenuBox {
  position: absolute;
  top: 72px;
  left: 0;
  width: 318px;
  height: 246px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  /* gap: 20px; */
}

.link {
  display: block;
  width: calc(100% - 48px);
  height: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 132%;
  padding: 10px 0 10px 48px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.link:hover {
  background-color: #FAFAFA;
  color: #F97316;
}